h2 {
    text-align: center;
    background-color: orange;
    color: white;
}

label {
    color: navy;
}

form {
    background-color: white;
}

body {background-color: cyan}

hobby {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(to bottom, #d4f1f4, #a8e6e3);
    font-family: Arial, sans-serif;
}