body {
    padding: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td,th {
    padding: 20px;
    border: 1px solid black;
    text-align: center;
}

th {
    background-color: red;
    color: white;
}